@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap');
@import 'tailwindcss';

:root {
  font-size: 36px;
}

@theme {
  --font-sans: 'Rubik', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme inline {
  --font-expanded: 'Special Gothic Expanded One', var(--font-sans);
}

html.print-pdf .reveal [hidden] {
  display: block !important;
}

@layer base {
  .print-pdf [hidden]:where(:not([hidden='until-found'])) {
    display: block !important;
  }
}

html body .reveal {
  font-size: 36px;
}

.slide {
  @apply px-6;
  @apply flex flex-col items-start;
}

.title {
  @apply text-xl font-expanded;
}

.section-header {
  @apply p-6;
  @apply flex flex-col items-start;

  & .title {
    @apply text-2xl font-expanded;
    @apply border-b-4 border-sky-500;
  }
}

.float-item {
  @apply translate-3d rounded rotate-x-[60deg] rotate-z-45 transition-transform duration-300 flex items-center justify-center relative;
}

.float-item:hover {
  @apply -translate-y-0.5;
}

.editable-style {
  @apply w-full h-full border border-sky-600 rounded;
}

.editable-style:focus {
  @apply border-sky-400 bg-sky-800/20;
}
