@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Gothic+Expanded+One&display=swap');
@import 'tailwindcss';

:root {
  font-size: 36px;
}

@theme {
  --font-sans: 'Rubik', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme inline {
  --font-expanded: 'Special Gothic Expanded One', var(--font-sans);
}

html.print-pdf .reveal [hidden] {
  display: block !important;
}

@layer base {
  .print-pdf [hidden]:where(:not([hidden='until-found'])) {
    display: block !important;
  }
}

html body .reveal {
  font-size: 36px;
}

.section-header {
  @apply p-6;
  @apply flex flex-col items-start;
}
